{% extends 'base.html' %}
{% load static %}

{% block title %}
    Change password
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'forms.css' %}">
{% endblock %}

{% block content %}
{% include 'includes/navbar.html' %}

<section class="content">
    <div class="wide-form-container">
        <h1>Change password</h1>
        <form action="" method="POST" class="wide-form">
            {% csrf_token %}
            {% for field in form %}
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            {% endfor %}
            <button type="submit">Submit</button>
        </form>
    </div>
</section>

{% endblock %}