{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'forms.css' %}">
<link rel="stylesheet" href="{% static 'accounts/profile.css' %}">
{% endblock %}

{% block content %}
{% include 'includes/navbar.html' %}

<section class="content">
    <h2 class="section-heading">Personal</h2>
    <hr class="section-separator">
    <form action="" class="readonly-form">
        {% for field in form %}
        <div class="readonly-row">
            {{ field.label_tag }}
            {{ field }}
        </div>
        {% endfor %}
        <div class="readonly-row">
            <label>Password</label>
            <a href="" class="btn-green">Change password</a>
        </div>
    </form>
</section>

{% endblock %}