<section class="navigation">
    <nav class="navbar">
        <div class="nav-container">
            <a href="" class="nav-link">Main</a>
            <a href="" class="nav-link">Schedule</a>
            <a href="" class="nav-link">Register</a>
        </div>
        <div class="search-container">
            <input type="text" class="search">
            <a href="" class="nav-link"><i class="fa-solid fa-magnifying-glass"></i></a>
        </div>
        <a href="" class="nav-link"><i class="fa-regular fa-user"></i></a>
    </nav>
    <hr class="nav-separator">
</section>
