.btn-green {
    align-self: flex-start;
    background-color: #658864;
    border: 1px solid #9d9e9e;
    border-radius: 25px;
    color: #EEEEEE;
    font-size: 1.3rem;
    padding: 0.2rem 1rem;
    text-decoration: none;
    text-align: center;
}

.btn-green:hover {
    background-color: #4a6449;
}

.btn-green:active {
    background-color: #3c523c;
}