@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');


/* * {
    box-sizing: border-box;    
} */

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    margin: 0;
}

/*
    Navigation
*/
.navigation {
    background-color: #EEEEEE;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    padding-top: 1%;
    width: 50%;
}

.nav-container {
    display: flex;
    flex-grow: 2;
    justify-content: space-between;
    margin-right: 1rem;
}

.search-container {
    display: flex;
    flex-grow: 3;
}

.search-container input {
    border-color: #CED0D3;
    border-style: solid;
    border-radius: 25px;
    font-size: 1.2rem;
    margin-right: 0.5rem;
    padding: 0 0.5rem;
}

.search-container input:hover {
    border-color: #9d9e9e;
}

.nav-link {
    color: #658864;
    font-size: 1.5rem;
    text-decoration: none;
}

.nav-link:hover {
    color: #4a6449;
}

.nav-link:active {
    color: #395138;
}

.account-container {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
}

.nav-separator {
    margin-top: 1%;
    border-top: none;
    border-bottom: 1px solid #CED0D3;
}

/*
    Content
*/
.content {
    margin: 2rem auto;
    width: 50%;
}

.section-heading {
    color: #658864;
    font-size: 2rem;
    margin-right: 1rem;
}

.section-separator {
    margin: 1% 0 2% 0;
    border-top: none;
    border-bottom: 1px solid #CED0D3;
}

/*
    Buttons
*/

.btn-green {
    background-color: #658864;
    border: 1px solid #9d9e9e;
    border-radius: 25px;
    color: #EEEEEE;
    font-size: 1.3rem;
    padding: 0.2rem 1rem;
    text-decoration: none;
    text-align: center;
}

.btn-green:hover {
    background-color: #4a6449;
}

.btn-green:active {
    background-color: #3c523c;
}

.btn-red {
    background-color: #C87972;
    border: 1px solid #9d9e9e;
    border-radius: 25px;
    color: #EEEEEE;
    font-size: 1.3rem;
    padding: 0.2rem 1rem;
    text-decoration: none;
    text-align: center;
}

.btn-red:hover {
    background-color: #b06b65;
}

.btn-red:active {
    background-color: #9a5650;
}

.search-button {
    border: 0 none;
    padding: 0;
}

/*
    Positioning
*/

.align-end {
    align-self: flex-end;
}

.align-start {
    align-self: flex-start;
}

.align-center {
    align-self: center;
    margin: auto;
}

.align-items-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.start-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.spaced-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*
    Containers
*/

.column-container {
    display: flex;
    flex-direction: column;
}

.row-container {
    display: flex;
    flex-direction: row;
}

/*
    Errorlist   
*/
.errorlist {
    list-style: none;
    padding: 0;
}

.errorlist li {
    color: #C87972;
    display: block;
}

/*
    Size
*/

.width-100 {
    width: 100%;
}

.width-75 {
    width: 75%;
}

.width-50 {
    width: 50%;
}

.width-25 {
    width: 25%;
}