<form action="" method="POST">
    {% csrf_token %}
    <h2 class="section-heading">Personal</h2>
    <hr class="section-separator">
    <div class="narrow-form">
        {% for field in patient_form %}
        <div class="narrow-row">
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
        </div>
        {% endfor %}
    </div>
    <h2 class="section-heading">Address</h2>
    <hr class="section-separator">
    <div class="narrow-form">
        {% for field in address_form %}
        <div class="narrow-row">
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
        </div>
        {% endfor %}
        <div class="narrow-row">
            {% if mode == 'Update' %}
            <button type="button" class="btn-red">Cancel</button>
            {% endif %}
            <button type="submit" class="btn-green">{{ mode }}</button>
        </div>
    </div>
</form>