{% extends "base.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'forms.css' %}">
{% endblock %}

{% block content %}
{% include "includes/navbar.html" %}

<section class="content">
    <form action="" method="POST" class="generic-form width-75">
        {% csrf_token %}
        {% for field in form %}
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
        {% endfor %}
        <div class="row-container">
            <button type="submit" class="btn-green width-50 {% if form.instance.took_place %}align-center {% endif %}">Submit</button>
            {% if not form.instance.took_place %}
            <a href="{% url 'main:delete_appointment' form.instance.id %}" class="btn-red width-50">Cancel</a>
            {% endif %}
        </div>

    </form>
</section>

{% endblock %}