{% extends "base.html" %}
{% load static %}

{% block title %}
Schedule an appointment
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'forms.css' %}">
{% endblock %}

{% block content %}
{% include "includes/navbar.html" %}

<section class="content">
    <div class="column-container align-items-center form-container">
        <h1 class="form-heading">Schedule</h1>
        <form id="schedule-form" action="{% url 'main:search_results' %}" method="GET" class="generic-form width-75"
            specialties-url="{% url 'main:schedule' %}">
            {% for field in form %}
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
            {% endfor %}
            <button type="submit" class="btn-green width-50 align-center">Submit</button>
        </form>
    </div>
</section>
<script src="{% static 'main/main.js' %}"></script>

{% endblock %}